<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Perfil do GitHub</title>
</head>
<body>
    <div class="container my-4 d-flex align-items-center flex-column">
        <h1 class="mb-4">Perfil do GitHub</h1>
        <div class="card w-50 text-center">
            <div class="card-header bg-dark">
                <h2 class="text-white"><%= dado.name %></h2>
            </div>
            <div class="card-body">
                <div class="my-3">
                    <img src="<%= dado.avatar_url %>" alt="Usuário" style="border-radius: 100%; width: 300px;">
                </div>
                <div>
                    <h6 class="mt-5"><%= dado.login %></h6>
                    <p class="m-3"><strong>BIO: </strong><%= dado.bio %></p>
                </div>
            </div>
        </div>
        <a href="/" class="btn btn-outline-dark my-3">Procurar outro usuário</a>
    </div>
</body>
</html>